@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);
/* ----------- bootstrap overwrite ----------- */
body {
  background-color: #eee;
}
pre {
  border-style: none;
  background-color: #fff;
  padding: 0;
  margin: 10px 0 0 0;
  font-family: "Source Sans Pro", monospace;
}

.table {
 font-family: "Source Sans Pro", monospace;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 1px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #eee;
}

.navbar {
  min-height: 35px;
  margin-bottom: 10px;
}
.navbar-brand {
  height: 35px;
  padding: 5px 5px 5px 10px;
}
.navbar-toggle {
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.navbar-toggle .icon-bar {
  width: 15px;
}
.form-group {
  margin-bottom: 5px;
}
.panel-body {
  padding: 10px;
}
.panel {
  margin-bottom: 10px;
}

/* ----------- custom entries ---------- */
.logo {
  font-weight: bold;
  color: #cf0;
}
.logo .brace {
  font-size: 1.2em;
}
.logo .mobi {
  color:#f93;
}
.logo .grok {
}
pre .l,
pre .hl {
  display: inline-block;
  width: 5ex;
  text-align: right;
  padding-right: .5ex;
  color: #666;
  background-color: #eee;
  margin-right: .5ex;
  font-size: .9em;
}
pre .hl {
  font-weight: bold;
  color: #444;
}
pre b {
  color: #333;
}
pre .xv {
  color: #c30;
}
pre .s {
  color: #090;
}
pre .d {
  color: #909;
}
pre .n {
  color: #a52a2a;
}
pre .c {
  color: #999;
  font-style: italic;
}
table p.p,
table p.r {
  padding-left: 5px;
}
